---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autenticación</title>
  </head>
  <body class="flex items-center justify-center min-h-screen bg-gray-100">
    
    <slot />
  </body>
</html>
